# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.netcore-mvc.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\netcore-mvc\netcore-mvc\.idea\.idea.netcore-mvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
