@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo.png" alt="NTSprint Logo" class="logo-img" />

    <h1 class="display-5">ASP.NET Core MVC Template</h1>
</div>