@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">ASP .NET 5 MVC Template</h1>
    <img  src="~/img/logo.png" alt="NTSprint Logo" class="logo-img"/>
</div>